<%= render "shared/title", title: "Daily Workout" %>

<div class="row">
  <div class="col-12 col-sm-6 center space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <h5 class="card-title">
          <%= @workout.created_at.strftime("%d/%m/%Y") %>
        </h5>
        <p class="card-text">
          <hr />
          <% @workout.exercises.each do |exercise| %>
            <%= exercise.name %>
            <br />
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 center space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <h5 class="card-title">
          <u>Latest Workouts</u>
        </h5>
        <p class="card-text">
          <hr />
          <% Workout.last(7).each do |workout| %>
            <%= link_to workout.created_at.strftime("%d/%m/%Y"), workout_path(workout) %>
            <br />
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
