<%= render "shared/title", title: "Date #{@workout.created_at.strftime("%d/%m/%Y")} Workout" %>

<div class="row">
  <div class="col-12 col-sm-6 center space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <p class="card-text">
          <% @workout.exercises.each do |exercise| %>
            <%= exercise.name %>
            <br />
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
