@import "bootstrap/scss/bootstrap";

.body-margin {
  margin-top: 3%;
}

hr {
  background-color: #0082f9;
}

.center {
  text-align: center;
}

.sspace {
  margin-bottom: 1%;
}

.space {
  margin-bottom: 3%;
}

.mspace {
  margin-bottom: 5%;
}

.mspace-top {
  margin-top: 5%;
}

// Buttons full width for mobile
@media (max-width: 768px) {
    .btn, .btn-group {
        width: 100%;
        display: block;
    }
}
