@import "bootstrap/scss/bootstrap";

.body-margin {
  margin-top: 3%;
}

hr {
  background-color: #0082f9;
}

.center {
  text-align: center;
}

.space {
  margin-bottom: 3%;
}

.mspace {
  margin-bottom: 5%;
}
